.modal {
  &.show {
    display: block;
  }
}

.modal-backdrop {
  &.show {
    opacity: 0.5;
  }
}

h6 {
  color: #495057;
  font-weight: 600;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #e9ecef;
}