$form-check-input-focus-border: $primary;

$form-check-input-checked-bg-color: $primary;
$form-check-input-checked-border-color: $primary;
$form-check-input-focus-box-shadow: $form-input-primary-box-shadow;
