<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">

    <!-- App title / logo -->
    <a class="navbar-brand fw-bold" routerLink="/">{{ appName }}</a>

    <!-- Mobile mode menu button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- Navigation links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/ads">{{ 'HEADER.ADS_LINK_TEXT' | translate}}</a>
        </li>
      </ul>

      <!-- Right side content -->
      <div class="d-flex gap-3">

        @if (currentUserIdentity?.roles?.includes(UserRole.SERVICE_PROVIDER)) {
          <button class="btn btn-secondary"><i class="bi bi-bell-fill"></i></button>
        }

        <!-- Sign in button -->
        @if (!currentUserIdentity) {
          <a class="btn btn-outline-secondary" routerLink="/sign-in">
            <i class="bi bi-box-arrow-in-left"></i> {{ 'HEADER.SIGN_IN_BTN_TEXT' | translate }}
          </a>
        } @else {
          <ul class="navbar-nav" data-bs-theme="light">
            <li class="nav-item dropdown">
              <button class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-circle me-1"></i>
                {{ currentUserIdentity.firstName }} {{ currentUserIdentity.lastName }}
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <a class="dropdown-item" routerLink="/profile">{{ 'HEADER.MY_PROFILE_LINK_TEXT' | translate }}</a>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                @if (currentUserIdentity.roles.includes(UserRole.ADMIN)) {
                  <li>
                    <a class="dropdown-item" href="/admin">
                      <i class="bi bi-clipboard-data me-1"></i> {{ 'HEADER.MY_ADMIN_LINK_TEXT' | translate }}
                    </a>
                  </li>
                }
                @if (currentUserIdentity.roles.includes(UserRole.SERVICE_PROVIDER)) {
                  <li>
                    <a class="dropdown-item" href="#">
                      <i class="bi bi-newspaper me-1"></i> {{ 'HEADER.MY_ADS_LINK_TEXT' | translate }}
                    </a>
                  </li>
                }
                <li>
                  <a class="dropdown-item" routerLink="/events">
                    <i class="bi bi-calendar-week me-1"></i> {{ 'HEADER.MY_EVENTS_LINK_TEXT' | translate }}
                  </a>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li>
                  <button (click)="confirmModal.openModal()" class="dropdown-item text-danger">
                    {{ 'HEADER.SIGN_OUT_BTN_TEXT' | translate }}
                  </button>
                </li>
              </ul>
            </li>
          </ul>
        }

      </div>

    </div>

  </div>
</nav>

<app-confirm-modal #confirmModal
                   (onConfirm)="signOut()"
                   [message]="'HEADER.CONFIRM_SIGN_OUT_MESSAGE' | translate"/>
