@use "sass:map";

$primary: #292C64;
$secondary: #E7BB04;
$dark: #272b30;
$body-bg-dark: #272b30;

$theme-colors: map.merge($theme-colors, (
  "primary": $primary,
  "secondary": $secondary,
  "dark": $dark,
  "body-bg-dark": $body-bg-dark
));
