<div class="d-flex flex-column w-100 h-100 overflow-hidden">

  <div class="d-flex justify-content-between align-items-center mb-md-4 mb-3">
    <h1 class="m-0">{{ 'My ads' | translate }}</h1>
    <div class="d-flex align-items-center gap-3">
      <div>{{ 'ADS.SERVICE_PROVIDER_LISTING_PAGE.AD_COUNT' | translate: {count: ads().length} }}</div>
      <button routerLink="/my-ads/add" class="btn btn-primary">
        <i class="bi bi-calendar-plus"></i> {{ 'ADS.SERVICE_PROVIDER_LISTING_PAGE.ADD_AD_BUTTON' | translate }}
      </button>
    </div>
  </div>

  @if (isLoading()) {
    <div class="d-flex h-100 justify-content-center align-items-center">
      <div class="spinner-grow text-primary"></div>
    </div>
  } @else {
    <div class="row ps-3 me-0 gap-3 gap-md-4 overflow-y-auto">
      @for (ad of ads(); track ad.id) {
        <div [routerLink]="`/my-ads/${ad.id}`"
          class="ad-card card col-3 cursor-pointer"
             style="min-width: 325px">
          <div class="card-body d-flex flex-column gap-3">

            <!-- Publication info -->
            <div class="d-flex align-items-center justify-content-between gap-3 w-100 mb-2">
              <div class="badge text-bg-primary"
                   [class.text-bg-warning]="!ad.isVerified"
                   [class.text-bg-info]="ad.isVerified">
                @if (ad.isVerified) {
                  <i class="bi bi-wifi"></i>
                }
                {{ (ad.isVerified ? 'ADS.AD_STATUS.VERIFIED' : 'ADS.AD_STATUS.NOT_VERIFIED') | translate }}
              </div>
            </div>

            <!-- Title -->
            <div class="card-title fw-bold m-0">{{ ad.title }}</div>

            <!-- Categories -->
            @if (ad.categories.length > 0) {
              <div class="d-flex flex-wrap column-gap-2 row-gap-2">
                @for (category of ad.categories; track category.id) {
                  <div class="badge rounded-pill text-bg-primary">{{ category.title }}</div>
                }
              </div>
            } @else {
              <div class="small text-muted">{{ 'ADS.SERVICE_PROVIDER_LISTING_PAGE.NO_CATEGORY_TEXT' | translate }}</div>
            }

            <!-- Description -->
            <div class="small paragraph-truncate truncate-line-2">{{ ad.description }}</div>

            <!-- Pricing -->
            <div class="d-flex align-items-end gap-2">
              <div class="fs-5 fw-bold">{{ ad.price }}€</div>
              <div class="small">({{ ad.priceIndication }})</div>
            </div>

            <!-- Last modified footer -->
            <div class="d-flex flex-grow-1 flex-column justify-content-end">
              <hr class="mb-3"/>
              <div class="small text-muted">
                {{ 'ADS.SERVICE_PROVIDER_LISTING_PAGE.LAST_MODIFIED_DATE' | translate }} {{ ad.dateAd | date: ('COMMON.DATE_FORMAT' | translate) }}
              </div>
            </div>

          </div>
        </div>
      }
    </div>
  }

</div>
