<button #modalOpeningButton type="button" class="d-none" data-bs-toggle="modal" data-bs-target="#confirmModal">
</button>

<div id="confirmModal" class="modal fade" tabindex="-1" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ title }}</h5>
        <button #modalClosingButton type="button" data-bs-dismiss="modal" class="btn-close"></button>
      </div>
      <div class="modal-body">{{ message }}</div>
      <div class="modal-footer">
        <button (click)="closeModal()" class="btn btn-outline-primary">{{ dismissButtonText }}</button>
        <button (click)="confirmModal()" class="btn btn-primary">{{ confirmButtonText }}</button>
      </div>
    </div>
  </div>
</div>
